.modal-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("../images/background.png");
}

.modal-container1 {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  padding: 30px;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  background-color: #ffffff;
}

.modal-text {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 16px;
}

.modal-image {
  width: 40%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 50%;
}

.modal-textinput {
  width: 100%;
  margin-top: 10px;
}

.modal-textinput1 {
  width: 100%;
  margin-top: 10px;
}

.modal-textinput2 {
  width: 100%;
  margin-top: 10px;
}

.modal-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  justify-content: center;
}

.modal-button {
  width: calc(50% - 5px);
  padding: 18px;
  padding-top: 16px;
  margin-right: 10px;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 16px;
  padding-bottom: 16px;
  background-color: #333333;
}
.modal-button:hover{
  cursor: pointer;
}

.modal-text1 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}

.modal-button1 {
  width: calc(50% - 5px);
  padding: 18px;
  padding-top: 16px;
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 16px;
  padding-bottom: 16px;
  background-color: #9730ff;
}
.modal-button1:hover{
  cursor: pointer;
}

.modal-text4 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}

:root {

  --input-color: #99A3BA;
  --input-border: #CDD9ED;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;

  --input-border-focus: #275EFE;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #EEF4FF;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;

}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans";
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;

  &>span,
  .form-field {
    white-space: nowrap;
    display: block;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }

  &>span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background .3s ease, border .3s ease, color .3s ease;
  }

  &:focus-within {
    &>span {
      color: var(--group-color-focus);
      background: var(--group-background-focus);
      border-color: var(--group-border-focus);
    }
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// Center
body {
  min-height: 100vh;
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F5F9FF;

  .form-group {
    max-width: 360px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}