<!DOCTYPE html>
<html>

<div class="hero-hero">
  <span class="hero-hero-label">
    <span>Connect your favorite tools.</span>
  </span>
  <div class="hero-tools-grid">
    {% for company in companies %}
    {% include 'tools.html' with context %}
    {% endfor %}
  </div>
  <div class="hero-button-div">
    <button type="button" class="hero-back-button" onclick="onBackClick()">
      <span>Back</span>
    </button>
    <button type="button" class="hero-finish-button" onclick="onFinishClick()">
      <span>Finish</span>
    </button>
  </div>
</div>


<script>
  function onBackClick() {
    alert('Back Clicked');
  }

  function onFinishClick() {
    alert('Finish Clicked');
  }
</script>

</html>